.signup-container {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 200px;
  }
  
  h1 {
    color: #333;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  ul{
    list-style-type: none;
    margin-top: 15px;
  }
  /* src/signup.css */
input[type="submit"] {
    background-color: blue; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding for size */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Text size */
    font-family: Arial, sans-serif;
    margin-top: 10px;
  }
  
  input[type="submit"]:hover {
    background-color: #908ef5; /* Darker green on hover */
  }
  h1{
    margin-top: 10px;
  }
  